<div class="recipe-container">
  <h1 class="recipe-title">Recipes</h1>
  <button><%= link_to "Add Recipe", new_recipe_path %></button>

  <div id="recipes">
    <% @recipes.each do |recipe| %>
      <% if recipe.user_id == current_user.id %>
        <%= link_to recipe_path(recipe) do %>
          <%= render partial: 'recipe', locals: { recipe: recipe } %>
        <% end %>
        <strong><%= link_to "REMOVE", recipe, method: :delete, class: "remove-btn" %></strong>
      <% end %>
    <% end %>
  </div>
</div>
