<h1>Edit Recipe Food</h1>

<%= render "form", recipe_food: @recipe_food %>

<br>

<div>
  <%= link_to "Show Recipe Food", @recipe_food %> |
  <%= link_to "Back to Recipe Foods", recipe_foods_path %>
</div>
